*{
  border: 1px solid red;
}



body {
  background-image: url('/img/background/woodbackground.jpg');
}
#gridContainer {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows:  10% 10% auto 10%;
  justify-content: center;  
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(255, 255, 255);  
}


img{
  display: block;
  max-width: 400px;
  max-height: 400px;
}


nav{
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: center;
}

#header{
  grid-row: 2/3;
  grid-column:2/3;
  text-align: center;
}

#content{
  grid-row: 3/4;
  grid-column: 2/3;
  overflow: inherit;
}

#footer{
  grid-row: 4/5;
  grid-column: 2/3;
}

#responses{
  text-align: center;
}



#chart{
  width: fit-content;
  height: fit-content;
}